<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/studenten_db</property>
    <property name="hibernate.connection.username">scott</property>
    <property name="hibernate.connection.password">tiger</property>
    
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    <mapping class="domein_klassen.Persoon" />
    <mapping class="domein_klassen.Adres"/>
    <mapping class="domein_klassen.Resultaat"/>
  </session-factory>
</hibernate-configuration>
